a.linova-link {
    background: url(../img/logo-linova-link.png) no-repeat center left;
    font-size: 1em;
    padding: 15px 0px 15px 25px;
    line-height: 45px;
    background-size: 20px 20px;
}

/*** MEDIA MODULE ****/
.media-library-view .media-library-view--form-actions {
    margin:0;
}

.form--inline{
    .form-item{
        margin-right: 6px;
    }
}
.mb-10{margin-bottom:10px;}
.mb-20{margin-bottom:20px;}
.mb-30{margin-bottom:30px;}
.mb-40{margin-bottom:40px;}
.mb-50{margin-bottom:50px;}
