@import 'variables.scss';

ul.navbar-nav{
    .dropdown-item.active,.dropdown-item:active{
        background:lighten($color1,20);
    }    
    li {
        a,span {
            font-size: 1.2rem;
            position:relative;
        }
        a::before,span::before {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background: $color1;
            content: '';
            opacity: 0;
            -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
            -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
            transition: height 0.3s, opacity 0.3s, transform 0.3s;
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            transform: translateY(-10px);
        }
        a:hover::before,
            a:focus::before,
            a.active::before,
            span:hover::before,
            span:focus::before,
            span.active::before{
            height: 5px;
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px);
        }
    }
}


ul.dropdown-menu > li.dropdown:hover>.dropdown-menu {
    display: block;
}
